.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  justify-content: center;
  margin-bottom: 40px;
}

.cards {
  max-width: 1280px;
  margin: auto;
  padding: 20px 0 0;
}

@media screen and (max-width: 627px) {
  .cards__list {
    grid-template-columns: repeat(auto-fit, 280px);
    max-width: 280px;
    margin: auto;
    gap: 20px 20px;
    margin-bottom: 20px;
  }
}
