.card {
  max-width: 413px;
}

.card__title {
  font-size: 20px;
  line-height: 24px;
  color: #212121;
  font-weight: 500;
  margin: 12px 0 0;
  align-self: start;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__like-btn {
  background-image: url(../images/like_button.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  margin: 12px 0 0;
  cursor: pointer;
}

.card__like-btn:hover {
  opacity: 100%;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 280px;
  }

  .card__title {
    font-size: 16px;
    line-height: 16px;
    max-width: 240px;
  }
}
