.footer__line {
  display: flex;
  padding: 34px 0 20px;
  border-top: 1px rgba(33, 33, 33, 0.4) solid;
}

.footer__section {
  max-width: 1280px;
  margin: 0 auto;
}

.footer__container {
  display: flex;
}

.footer__spacer {
  padding-bottom: 50px;
}

/*.footer__line {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;*/
/*padding: 0 20px;*/
/*border-bottom: 1px rgba(33, 33, 33, 0.4) solid;*/

.footer__text {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  color: #212121;
  opacity: 70%;
  margin: 0 auto;
  padding: 60px;
}

@media screen and (max-width: 627px) {
  .footer__line {
    flex-direction: column;
    max-width: 280px;
    align-items: center;
    text-align: center;
  }
}
