.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
  height: 190px;
  width: 190px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-family: Poppins_name, Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit {
  display: flex;
  margin-top: auto;
}

.profile__edit_text {
  text-decoration: none;
  color: #212121;
  opacity: 70%;
  line-height: 16px;
}

.profile__edit_img {
  margin-right: 4.86px;
  margin-top: auto;
  color: #212121;
  width: 18.48px;
}

.profile__add_plus {
  padding: 20px 8px 20px 32px;
}

.profile__add-btn {
  margin-top: auto;
  margin-left: auto;
  height: auto;
  width: 149px;
  height: 52px;
  border-radius: 8px;
  color: #fcf5e5;
  background-color: #212121;
  display: flex;
  align-items: center;
  padding: 2px;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
  }
  .profile__avatar {
    margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }
  .profile__add-btn {
    margin: 0;
  }
  .profile__edit {
    margin-right: 0;
    align-items: center;
    justify-content: center;
  }
  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }
}
